#myimg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myimg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    /* padding-top: 100px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    height: 90vh;
    margin: 30px auto;
    display: block;

}

.modal-content-events {
    height: 90vh;
    margin: 30px auto;
    display: block;

}

.modal-content-licence {
    height: 90vh;
    margin: 30px auto;
    display: block;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

button {
    background: none;
}

@media screen and (max-width: 1023px) {
    .modal {
        margin-top: 30px;
    }

    .modal-content-licence {
        height: 80vh;
        margin: 30px auto;
        display: block;
    }

    .modal-content {
        height: 80vh;
        margin: 30px auto;
        display: block;
    }

    .modal-content-events {
        height: 480px;;
        margin: 60px auto;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .modal-content-licence {
        height: 60vh;
        margin: 60px auto;
        display: block;
    }

    .modal-content {
        height: 60vh;
        margin: 60px auto;
        display: block;
    }

    .modal-content-events {
        height: 240px;
        margin: 60px auto;
        display: block;
    }

    .close {
        right: 15px;

    }
}

@media screen and (max-width: 375px) {
    .modal-content-licence {
        height: 60vh;
        margin: 60px auto;
        display: block;
    }

    .modal-content {
        height: 60vh;
        margin: 60px auto;
        display: block;
    }

    .modal-content-events {
        height: 200px;
        margin: 60px auto;
        display: block;
    }

    .close {
        right: 5px;
        font-size: 30px;
    }
}