{% extends 'base.html' %}
{% load static i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/for_parents.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="tables">
        <div class="title tables__title">

            <h3>
                {% trans 'Прием в школу' %}
            </h3>
        </div>
        <div class="tabledesk">

            <div class="tables__desc">
                <p>
                    {% trans 'Шаг #1: родители собирают пакет документов (копии паспортов родителей, копия свидетельства о рождении ребенка, справка о составе семьи, 1 фото 3х4).' %}
                </p>

                <p>
                    {% trans 'Шаг #2: родитель пишет заявление в приемной школы с 1 по 31 мая.' %}
                </p>
                <p>

                    {% trans 'Шаг #3: родители приходят на собеседование с ребенком (оба родителя и ребенок) по графику с 1 по 30 июня.' %}
                </p>
                <p>

                    {% trans 'Шаг #4: родитель приводит ребенка на вступительные испытания по графику с 1 по 30 июня при условии наличия мест и своевременно поданного заявления.' %}
                </p>
                <p>
                    {% trans 'Шаг #5: школа производит зачисление ребенка в соответствующий класс при условии успешного прохождения ребенком вступительных испытаний.' %}

                </p>
            </div>
        </div>
        <table class="lessons">
            <tr>
                <th class="table__header" colspan="3"> {% trans 'Расписание школы на 2022-2023 учебный год:' %}</th>
            </tr>
            <tr>
                <td class="nomber">1</td>
                <td>{% trans 'Начало учебного года' %}</td>
                <td>01.09.22</td>
            </tr>
            <tr class="color">
                <td class="nomber">2</th>
                <td>{% trans 'Продолжительность учебного года' %}</td>
                <td>{% trans '34 недели' %}</td>
            </tr>
            <tr>
                <td class="nomber">3</td>
                <td>{% trans 'Окончание учебного года' %}</td>
                <td>31.05.23</td>
            </tr>
        </table>
        <table class="quarter">
            <tr>
                <th>{% trans 'Четверть' %}</th>

                <th>{% trans 'Праздничные дни' %}</th>

            </tr>
            <tr>
                <td>{% trans '1 (8,5 недель)' %}</td>
                <td></td>
            </tr>
            <tr>
                <td>{% trans '2 (7,5 недель)' %}</td>
                <td>07.11.22 <br>
                    08.11.22
                </td>
            </tr>
            <tr>
                <td>{% trans '3 (10 недель)*' %}</td>

                <td>23.02.23 <br>
                    08.03.23
                </td>
            </tr>
            <tr>
                <td>{% trans '4 (8 недель)' %}</td>

                <td>01.05.23 <br>
                    05.05.23 <br>
                    09.05.23
                </td>
            </tr>

        </table>
        <table class="quarter quarter2">
            <tr>
                <th>{% trans 'Четверть' %}</th>
                <th>{% trans 'Начало' %}</th>
                <th>{% trans 'Окончание' %}</th>
            </tr>
            <tr>
                <td>{% trans '1 (8,5 недель)' %}</td>
                <td>01.09.22</td>
                <td>28.10.22</td>
            </tr>
            <tr>
                <td>{% trans '2 (7,5 недель)' %}</td>
                <td>9.11.22</td>
                <td>29.12.22</td>
            </tr>
            <tr>
                <td>{% trans '3 (10 недель)*' %}</td>
                <td>11.01.23</td>
                <td>17.03.23</td>

            </tr>
            <tr>
                <td>{% trans '4 (8 недель)'%}</td>
                <td>30.03.23</td>
                <td>31.05.23</td>

            </tr>
            <tr>
                <td>{% trans 'Государственные экзамены у 9 класса' %}</td>
                <td>01.06.23</td>
                <td>25.06.23</td>
            </tr>
            <tr id="lessons">
                <td>{% trans 'Государственные экзамены у 11 класса' %}</td>
                <td>01.06.23</td>
                <td>25.06.23</td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}