{% extends 'base.html' %}
{% load static i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/for_parents.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="tables">
        <div class="title schedule__title">
            <h4>{% trans 'Расписание родительских собраний' %}</h4>
        </div>
        <table class="meetings">
            <tr>
                <th>№</th>
                <th>{% trans 'Дата' %}</th>
                <th>{% trans 'Время' %}</th>
            </tr>
            <tr>
                <td>1</td>
                <td>27.08.22</td>
                <td rowspan="5">{% trans '«А» класс – 18.00' %}<br>
                    {% trans '«Б» класс – 19.00' %}</th>
            </tr>
            <tr>
                <td>2</td>
                <td>29.10.22</td>
            </tr>
            <tr id="form">
                <td>3</td>
                <td>24.12.22</td>
            </tr>
            <tr>
                <td>4</td>
                <td>18.03.23</td>
            </tr>
            <tr>
                <td>5</td>
                <td>27.05.23</td>
            </tr>
        </table>




    </div>
</div>


{% endblock %}