{% extends 'base.html' %}
{% load static i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/for_parents.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="tables">
        <div id="grafic title" class="title schedule__title">
            <h4>{% trans 'График внесения оплаты' %}</h4>
        </div>
        <table class="payment">
            <tr>
                <th>№</th>
                <th>{% trans 'Период обучения' %}</th>
                <th>{% trans 'Дни внесения оплаты:' %}</th>
                
            </tr>
            <tr>
                <td>1</td>
                <td>{% trans 'Сентябрь 2022' %}</td>
                <td>{% trans 'до 30.08.2022' %}</td>
                
            </tr>
            <tr>
                <td>2</td>
                <td>{% trans 'Октябрь 2022' %}</td>
                <td>{% trans 'до 25.09.2022' %}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>{% trans 'Ноябрь 2022' %}</td>
                <td>{% trans 'до 25.10.2022' %}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>{% trans 'Декабрь 2022' %}</td>
                <td>{% trans 'до 25.11.2022' %}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>{% trans 'Январь 2023' %}</td>
                <td>{% trans 'до 25.12.2022' %}</td>
            </tr>
            <tr>
                <td>6</td>
                <td>{% trans 'Февраль 2023' %}</td>
                <td>{% trans 'до 25.01.2023' %}</td>
            </tr>
            <tr>
                <td>7</td>
                <td>{% trans 'Март 2023' %}</td>
                <td>{% trans 'до 25.02.2023' %}</td>
            </tr>
            <tr>
                <td>8</td>
                <td>{% trans 'Апрель 2023' %}</td>
                <td>{% trans 'до 25.03.2023' %}</td>
            </tr>
            <tr>
                <td>9</td>
                <td>{% trans 'Май 2023' %}</td>
                <td>{% trans 'до 25.04.2023' %}</td>
            </tr>
            <tr>
                <th class="border__th" colspan="3" rowspan="9">
                    {% trans 'Место внесения оплаты:' %}<br> Демир Банк** <br>
                    1180000112999853
                
                </th>
            </tr>
        </table>
    </div>
</div>


    {% endblock %}