{% extends 'base.html' %}
{% load static i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/for_parents.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="tables">
        <div class="title schedule__title">
            <h4> {% trans 'Форма учащихся' %}</h4>
        </div>
        <table class="uniform">
            <tr>
                <th>{% trans 'Четверть' %}</th>
                <th>{% trans 'Форма Одежды' %}</th>
            </tr>
            <tr>
                <td>{% trans 'Первая' %}</td>
                <td>{% trans 'Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) или белая футболка с логотипом школы (зеленая футболка только в день физ-ры)' %}</td>
            </tr>
            <tr>
                <td>{% trans 'Вторая' %}</td>
                <td>{% trans 'Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков)' %}</td>
            </tr>
            <tr>
                <td>{% trans 'Третья' %}</td>
                <td>{% trans 'Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков)' %}</td>
            </tr>
            <tr>
                <td>{% trans 'Четвертая' %}</td>
                <td>{% trans 'Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) или белая футболка с логотипом школы (зеленая футболка только в день физ-ры)' %}
                </td>
            </tr>
            <tr>
                <td>{% trans 'Официальные мероприятия (линейки, экзамены)' %}</td>
                <td>{% trans 'Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков)' %}</td>
            </tr>
            <tr>
                <th   class="border__th" colspan="2">{% trans 'Юбка ниже колен!<br> Брюки: нижняя ширина от 20 см для старших классов, от 12 см для младших классов (для девочек). <br> Мальчики: темно-синие костюмы и РУБАШКИ (без рисунков) любого цвета. <br> Девочки: темно-синие костюмы (БРЮКИ, ЮБКИ) или САРАФАНЫ, БЛУЗКИ с воротником непрозрачные (без рисунков), любого цвета заправленные в брюки или юбку.<br>Костюм – это брюки или юбка и пиджак!!!' %}</th >
            </tr>
        </table >


    </div>
</div>


    {% endblock %}