{% extends 'base.html' %}
{% load static i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/for_students_and_graduates.css' %}">
{% endblock %}
{% block content %}
<section class="graduates" >
    <div class="container">
        <div class="title graduates__title">
            <h3>
                {% trans 'Выпускникам' %}
            </h3>
        </div>
        <div class="graduate__linkdiv">
            <div class="graduate__link">
                <p><a <a style="color: #1a633bfd;" href="http://www.4icu.org">http://www.4icu.org</a></p> <br>
                <p><a <a style="color: #1a633bfd;" href="https://www.ets.org/toefl/test-takers/ibt.html">https://www.ets.org/toefl/test-takers/ibt.html</a></p> <br>
                <p><a <a style="color: #1a633bfd;" href="https://www.ielts.org/">https://www.ielts.org/</a></p>
            </div>

        </div>
    </div>
</section>
{% endblock %}