{% extends 'base.html' %}
{% load static i18n %}
{% block content %}

<section id="events">
    <div class="events">
        <div class="container">
            <div class="title events__title">
                <h3 style="color: black;">{% trans 'Знакомьтесь, наши ученики' %}</h3>
            </div>
            <div class="events__cards">
                {% for i in events %}
                <div class="events__card">

                    <img class="eventsImg" id="myimg" src="{{i.image.url}}" alt=""
                        onclick="openModal(this);" >


                    <div id="myModal" class="modal">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <img src='{{i.image.url}}' alt='' class="modal-content" id="img01">
                    </div>

                </div>

                {% endfor %}
                
            </div>
        </div>
    </div>
</section>

<script src="{% static 'css/modal.js' %}"></script>
{% endblock %}